SESSION_DRIVER=cookie
DB_CONNECTION=pgsql
APP_NAME="Arlian6A1 Inventory"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://mitraspace-admin.vercel.app

# Database Connection (Neon PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_lxaBefH94iCF@ep-ancient-surf-aowxbqjz-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=dpxd2wzjr
CLOUDINARY_API_KEY=994782154585996
CLOUDINARY_API_SECRET=oikwy5pdcQ5NMG_-JF7GAN0oVrs

# Traefik Routing Configuration
TRAEFIK_HOST=inventaris.localhost
TRAEFIK_API_HOST=api.inventaris.localhost
TRAEFIK_DASHBOARD_HOST=traefik.localhost

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https:/inventaris-ten-tau.vercel.app/auth/google/callback
